@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main {
  @apply bg-[#022c1b] border-0 h-[70vh] mt-24 md:m-24 p-12 border-red-50 rounded-lg md:grid md:grid-cols-4 lg:grid lg:grid-cols-5 flex flex-col justify-center items-center;
}

.loginHero {
  @apply flex justify-start justify-center items-center md:col-span-1 lg:col-span-3;
}

.form {
  @apply flex flex-col md:pl-10 justify-center items-center md:col-span-3 lg:col-span-2;
}

.input {
  @apply mt-8 bg-slate-200 h-[35px] px-2 rounded-md text-gray-800 text-xs;
}

.password {
  @apply flex justify-between items-center ml-3;
}

.password_icon {
  @apply relative text-slate-500 top-[26%] right-[16%] md:mt-8 cursor-pointer;
}

.buttonGroup {
  @apply flex flex-grow mb-5 ml-1.5;
}

.para_reg {
  @apply text-xs text-gray-500 cursor-pointer underline;
}

.button {
  @apply mt-10 px-5 w-[70px] text-xs bg-green-700 mx-1 text-white h-[35px] rounded-lg cursor-pointer;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
